#plateau{
	background-color:grey;
	width: 100%;
	height: 100%;
}

#player1{
	background-color:blue;
	width: 60%;
	height: 20%;
	margin-left:20%;
}

#plateau_middle{
	height: 60%;
	width: 100%;
}

#player2{
	background-color:yellow;
	width :10%;
	height: 60%;
	display: inline-block;
	vertical-align:middle;
}

#pioche{
	width: 10%;
	height:20%;
	background-color:blue;
	display: inline-block;
	vertical-align:middle;
	margin-left: 25%;
}

#defausse{
	width: 10%;
	height:20%;
	background-color:blue;
	display: inline-block;
	vertical-align:middle;
	margin-left: 3%;
}

#player3{
	background-color:green;
	width :10%;
	height: 60%;
	display: inline-block;
	vertical-align:middle;
	margin-left: 30%;
	
}

#player4{
	background-color:red;
	width: 60%;
	height: 20%;
	margin-left:20%;
}

.life_horizontal{
	width: 100%;
	height: 19%;
}

.slot_horizontal{
	border:1px solid black;
	display: inline-block;
	width: 19%;
	height: 80%;
	vertical-align:top;
}

.image_in_slot{
	width: 100%;
<<<<<<< HEAD
	height:100%;
<<<<<<< HEAD
=======
	transition: all .5s ease-in-out; 
>>>>>>> parent of 5f4c0c2... drag an drop
}

=======
	height: 100%;
}
>>>>>>> parent of f0c9b63... web socket
