html, body {
   margin:0;
   padding:0;
   height:100%;
}

#plateau{
	background-color:#DCD6BB;
	width: 100%;
	height: 100%;
}

#centerPlateau{
	width: 25%;
	height: 40%;
	margin-left: 23%;
	display:inline-block;
}

#piocheDef{
	height:80%;
	width:100%;
}

#pioche{
	width: 45%;
	margin-top: 20%;
	height:80%;
	background-color:blue;
	display: inline-block;
	vertical-align:top;
}

#defausse{
	width: 45%;
	margin-top: 20%;
	height:80%;
	background-color:blue;
	display: inline-block;
	margin-left: 1%;
	vertical-align:top;
}

#notifications{
	margin-top:15%;
}

#action{
	display: inline-block;
	width: 10%;
	margin-left:10%;
}

.action_div{
	border:1px solid black;
	cursor: pointer;
}

#information{
	width: 100%;
	height: 19%;
}

#life{
	display:inline-block;
}

#role{
	display:inline-block;
}

#cards{
	height: 100%;
}

.slot_horizontal{
	border:1px solid black;
	display: inline-block;
	width: 19%;
	height: 80%;
	vertical-align:top;
}

.image_in_slot{
	width: 100%;
	height:100%;
    transition: all .1s ease-in;  
}

.image_in_slot:hover{ 
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-o-transform-origin: bottom center;
	transform-origin: bottom center;
}

.defausseCard{
	width: 100%;
	height:100%;
}
