html, body {
   margin:0;
   padding:0;
   height:100%;
}

#plateau{
	background-color:grey;
	width: 100%;
	height: 100%;
}

#plateau_middle{
	height: 60%;
	width: 100%;
}

#pioche{
	width: 10%;
	height:20%;
	background-color:blue;
	display: inline-block;
	vertical-align:middle;
	margin-left: 25%;
}

#defausse{
	width: 10%;
	height:20%;
	background-color:blue;
	display: inline-block;
	vertical-align:middle;
	margin-left: 3%;
}

#action{
	display: inline-block;
	width: 10%;
	margin-left:10%;
}

.action_div{
	border:1px solid black;
	cursor: pointer;
}



.life_horizontal{
	width: 100%;
	height: 19%;
}

.slot_horizontal{
	border:1px solid black;
	display: inline-block;
	width: 19%;
	height: 80%;
	vertical-align:top;
}

.image_in_slot{
	width: 100%;
	height:100%;
	
    transition: all .1s ease-in;  
}

.image_in_slot:hover{ 
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-o-transform-origin: bottom center;
	transform-origin: bottom center;
}

.defausseCard{
	width: 100%;
	height:100%;
}
