@CHARSET "UTF-8";

html,body{
	margin:0;
	padding:0;
	height:100%;	
}

body{
	
	height:100%;
	width:100%;
	background-color:#B5B3B3;
}

#header{
	height:18%;
	width:100%;
	background-color:#4c4c4c;
	color: white;
	border-bottom: 2px solid black;
	
}

#content{
	margin-top:2%;
	height:74%;
	width:100%;
	
}
#footer{
	/*margin-top:5%;*/
	height:3%;
	color: white;
	background-color:#4c4c4c;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align:center;
}


#title{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	color:#B5B3B3;
	font-size:150%;
}
#login_area{
display:inline-block;
/*padding-right:10px;*/
/*width:30%;*/
vertical-align:middle;

}

#logout_area{
display:inline-block;
/*padding-right:10px;*/
/*width:30%;*/
vertical-align:middle;
position:relative;
right:0;
}
#errors{
	display:inline-block;
	vertical-align:middle;
}


#main_title{
	
	margin-left:72%;
	vertical-align:middle;
}


#start_game{
	margin-top:7%;
	display:inline-block;
	margin-right:2%;

}

#regle_button{
	display:inline-block;
	margin-left:2%;
}

#challenge_button{
	margin-top:2%;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}