@CHARSET "UTF-8";

html,body{
	margin:0;
	padding:0;
	height:100%;	
}

body{
	
	height:100%;
	width:100%;
	background-color:#3a0303;
}

#header{
	height:18%;
	width:100%;
	background-color:yellow;
	
}

#content{
	margin-top:2%;
	height:74%;
	width:100%;
	
}
#footer{
	/*margin-top:5%;*/
	height:3%;
	background-color:yellow;
}


#title{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	color:#3a0303;
}
#login_area{
display:inline-block;
/*padding-right:10px;*/
/*width:30%;*/
vertical-align:middle;

}

#logout_area{
display:inline-block;
/*padding-right:10px;*/
/*width:30%;*/
vertical-align:middle;
position:relative;
right:0;
}
#errors{
	display:inline-block;
	vertical-align:middle;
}


#main_title{
	
	margin-left:72%;
	vertical-align:middle;
}


#start_game{
	display:inline-block;
	margin-right:2%;

}

#regle_button{
	display:inline-block;
	margin-left:2%;

}

#challenge_button{
	margin-top:2%;
}


