@CHARSET "UTF-8";


html,body{
	/*margin:0;
	padding:0;*/
	height:98%;	
}

body{
	height:98%;
	width:100%;
	background-color:#B5B3B3;
	color:black;
	
}

#header{
	height:15%;
	text-align:center;
}

.insc_img{
	display:inline-block;
	width:35%;
	height:35%;	
	margin-top:20%;
}

#table{
	display:inline-block;
	vertical-align:top;
	margin-top:3%;
}

#inscription{
	height:80%;
}

#footer{
	height: 3%;
	/*max-height:20px;*/
	/*min-height:15px;*/
	color: white;
	background-color:#4c4c4c;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align:center;
}



