<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>bang.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>testFaftoz</servlet-name>
    <servlet-class>bang.server.TestFaftozServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.InscriptionServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Rank</servlet-name>
    <servlet-class>servlet.RankServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Rank</servlet-name>
    <url-pattern>/rank</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/bang/greet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
    <servlet-name>testFaftoz</servlet-name>
    <url-pattern>/faftoz</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>splashScreen.html</welcome-file>
  </welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>bang.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/bang/greet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>com.test.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.test.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>HandServlet</servlet-name>
    <servlet-class>com.test.HandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandServlet</servlet-name>
    <url-pattern>/hand</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>Logger.jsp</welcome-file>
	</welcome-file-list>
	
<!-- 	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping> -->
</web-app>
